## IMPORTING RELEVANT LIBRARIES

In [3]:
!pip install mysql.connector

DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 won't be maintained after that date. A future version of pip will drop support for Python 2.7. More details about Python 2 support in pip, can be found at https://pip.pypa.io/en/latest/development/release-process/#python-2-support
Collecting mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector

In [6]:
import mysql.connector                   # LIBRARY FOR MAKING CONNECTION TO THE MYSQL DATABASE

## SETTING UP A NEW DATABASE CONNECTION

In [10]:
#MAKING CONNECTION TO THE DATABASE

mydb = mysql.connector.connect(
  host="localhost ",
  user="root",
  password="*131bryann",
 
)

if mydb.is_connected():
    print("Connection established successfully")
else:
    print("Connection failed")

NotSupportedError: Authentication plugin 'caching_sha2_password' is not supported

In [1]:
mycursor = mydb.cursor()              # A CURSOR WHICH HELPS IN EXECUTING MYSQL QUERIES

NameError: name 'mydb' is not defined

In [20]:
query = "CREATE DATABASE Python_MySQL"

In [21]:
mycursor.execute(query)

In [22]:
query = "SHOW DATABASES"

In [26]:
mycursor.execute(query)

In [27]:
for x in mycursor:
    print(x)

('batch_1_2024',)
('batch_2024',)
('batch_26a',)
('batch_db',)
('company',)
('information_schema',)
('mysql',)
('mysql_batch',)
('performance_schema',)
('project_2024',)
('python_mysql',)
('sakila',)
('school',)
('schooldb',)
('sys',)
('world',)

In [28]:
query = "USE python_mysql"

In [29]:
mycursor.execute(query)

In [6]:
mycursor.execute("USE batch_1_2024")       #We are now using the database batch_2024

In [30]:
query = "CREATE TABLE EMPLOYEE(e_id int not null primary key, e_name varchar(100), e_salary int, e_age int, e_gender varchar(10),e_dept varchar(15) )"
mycursor.execute(query)

In [31]:
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

('employee',)

## Use of INSERT Statement

In [10]:
mycursor.execute("INSERT INTO EMPLOYEE VALUES(1,'Sam',95000,45,'Male','Operations')")

In [32]:
query = "INSERT INTO EMPLOYEE VALUES(1,'Sam',95000,45,'Male','Operations')"

In [33]:
mycursor.execute(query)

In [34]:
query = "SELECT * FROM EMPLOYEE"

In [35]:
mycursor.execute(query)

In [36]:
for x in mycursor:
    print(x)

(1, 'Sam', 95000, 45, 'Male', 'Operations')

## Use of SELECT Statement

In [11]:
mycursor.execute("SELECT * FROM EMPLOYEE")

In [12]:
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

(1, 'Sam', 95000, 45, 'Male', 'Operations')

## Commit - IT IS VERY IMPORTANT

In [13]:
mydb.commit()

In [14]:
mycursor.execute("INSERT INTO EMPLOYEE VALUES(2,'Bob',80000,21,'Male','Support'),(3,'Anne',125000,25,'Female','Analytics'),(4,'Julia',73000,30,'Female','Analytics'),(5,'Matt',159000,33,'Male','Sales'),(6,'Jeff',112000,27,'Male','Operations')")

In [15]:
mycursor.execute("SELECT * FROM EMPLOYEE")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

(1, 'Sam', 95000, 45, 'Male', 'Operations')
(2, 'Bob', 80000, 21, 'Male', 'Support')
(3, 'Anne', 125000, 25, 'Female', 'Analytics')
(4, 'Julia', 73000, 30, 'Female', 'Analytics')
(5, 'Matt', 159000, 33, 'Male', 'Sales')
(6, 'Jeff', 112000, 27, 'Male', 'Operations')

In [18]:
mydb.commit()

In [16]:
mycursor.execute("SELECT * FROM EMPLOYEE")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

(1, 'Sam', 95000, 45, 'Male', 'Operations')
(2, 'Bob', 80000, 21, 'Male', 'Support')
(3, 'Anne', 125000, 25, 'Female', 'Analytics')
(4, 'Julia', 73000, 30, 'Female', 'Analytics')
(5, 'Matt', 159000, 33, 'Male', 'Sales')
(6, 'Jeff', 112000, 27, 'Male', 'Operations')

## Use of WHERE Clause

In [17]:
query = "SELECT e_id, e_name, e_dept from employee where e_salary>100000"

mycursor.execute(query)
myresult = mycursor.fetchall()

print("Employees whose salary is greater than 100000 is:")
for x in myresult:
    print(x)

Employees whose salary is greater than 100000 is:
(3, 'Anne', 'Analytics')
(5, 'Matt', 'Sales')
(6, 'Jeff', 'Operations')

## Use of LIKE Operator

In [20]:
query = "SELECT e_id, e_name from employee where e_name LIKE 'J%'"

mycursor.execute(query)
myresult = mycursor.fetchall()

print("All employees whose name starts with J are:")

for x in myresult:
    print(x)

All employees whose name starts with J are:
(4, 'Julia')
(6, 'Jeff')

## Use of ORDER BY Statement

In [21]:
query = "SELECT * from employee ORDER BY e_salary DESC"

mycursor.execute(query)
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(5, 'Matt', 159000, 33, 'Male', 'Sales')
(3, 'Anne', 125000, 25, 'Female', 'Analytics')
(6, 'Jeff', 112000, 27, 'Male', 'Operations')
(1, 'Sam', 95000, 45, 'Male', 'Operations')
(2, 'Bob', 80000, 21, 'Male', 'Support')
(4, 'Julia', 73000, 30, 'Female', 'Analytics')

## Find the average salary of the employees

In [32]:
query = "SELECT avg(e_salary) as AVERAGE_SALARY from employee"

mycursor.execute(query)
myresult = mycursor.fetchall()

print("The average salary of all employees is: ")
for x in myresult:
    print(x)

The average salary of all employees is:
(Decimal('107333.3333'),)

## UPDATE RECORDS

In [22]:
query = "UPDATE employee SET e_salary=107000 where e_id = 2"
mycursor.execute(query)

query = "SELECT * FROM employee"
mycursor.execute(query)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(1, 'Sam', 95000, 45, 'Male', 'Operations')
(2, 'Bob', 107000, 21, 'Male', 'Support')
(3, 'Anne', 125000, 25, 'Female', 'Analytics')
(4, 'Julia', 73000, 30, 'Female', 'Analytics')
(5, 'Matt', 159000, 33, 'Male', 'Sales')
(6, 'Jeff', 112000, 27, 'Male', 'Operations')

In [23]:
mydb.commit()

## Parameterized Query

In [21]:
employee_dept = input("Enter employee department- ")

query = "SELECT * from employee where e_dept = '%s'" %employee_dept

mycursor.execute(query)

myresult = mycursor.fetchall()

print("Details of Employee with Department = " +employee_dept)
for x in myresult:
    print(x)

Enter employee department- Operations
Details of Employee with Department = Operations
(1, 'Sam', 95000, 45, 'Male', 'Operations')
(6, 'Jeff', 112000, 27, 'Male', 'Operations')

In [28]:
e_id = input("Please enter the required employee ID - ")

query = "SELECT * from employee where e_id ="+ e_id

mycursor.execute(query)

for x in mycursor:
    print(x)

Please enter the required employee ID - 1
(1, 'Sam', 95000, 45, 'Male', 'Operations')

In [25]:

employee_id = input("Enter employee ID - ")

query = "SELECT * from employee where e_id =" + employee_id

mycursor.execute(query)

myresult = mycursor.fetchall()

print("Details of Employee with EID = " +employee_id)
for x in myresult:
    print(x)

Enter employee ID - 1
Details of Employee with EID = 1
(1, 'Sam', 95000, 45, 'Male', 'Operations')

In [44]:
mycursor.close()

True

In [45]:
mydb.close()

In [9]:
mycursor.execute("SHOW TABLES")

In [10]:
for x in mycursor:
    print(x)

('customers',)
('employee',)
('student',)
('studentcourse',)

In [13]:
mycursor.execute("select * from employee")

In [15]:
for x in mycursor:
    print(x)

(1, 'Sam', 95000, 45, 'Male', 'Operations')
(2, 'Bob', 107000, 21, 'Male', 'Support')
(3, 'Anne', 125000, 25, 'Female', 'Analytics')
(4, 'Julia', 73000, 30, 'Female', 'Analytics')
(5, 'Matt', 159000, 33, 'Male', 'Sales')
(6, 'Jeff', 112000, 27, 'Male', 'Operations')

In [17]:
query = "SELECT * from employee where e_salary>100000"

In [18]:
mycursor.execute(query)

In [19]:
myresult = mycursor.fetchall()

In [20]:
for x in myresult:
    print(x)

(2, 'Bob', 107000, 21, 'Male', 'Support')
(3, 'Anne', 125000, 25, 'Female', 'Analytics')
(5, 'Matt', 159000, 33, 'Male', 'Sales')
(6, 'Jeff', 112000, 27, 'Male', 'Operations')

In [ ]:
query = "SELECT "
mycursor.execute(query)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

In [29]:
mydb.commit()

In [30]:
mycursor.close()

True

In [31]:
mydb.close()